body {
  background-color: orange;
}

#grid-frame {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  border: 1px solid black;
}

.row {

}

.top {

}

.centre {

}

.grid-square {
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 1px dotted yellow;
}