body {
  background-color: orange;
}

#grid-frame {
  border: 1px solid black;
}

.row {

}

.top {
  background-color: green;
}

.centre {
  background-color: pink;
}

.grid-square {
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 1px dotted yellow;
}